
.container_v {
    position:relative;
    display: flex;
    justify-content: center;
}

.header {
    position: relative;
    text-decoration: underline;
    color: #e3e0e0;
    display: block;
}

.section {
    border: 2px solid #50cbe6 ;
    border-radius: 10px;
    padding: 30px;
    margin-left: 30px;

}

.subHeader {
    color: #fafafa;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: #fafafa;
}
@media (max-width: 708px){
    .container_v {
        display: block;
}
.section {
    border: 2px solid #50cbe6 ;
    width: min-content;
}
}