
.container_v {
    position:relative;
    display: flex;
    margin-left: 7rem;
}

.header {
    position: relative;
    text-decoration: underline;
    color: #e3e0e0;
    display: block;
}

.section {
    margin-top: 20px;
    border: 2px solid #50cbe6 ;
    border-radius: 10px;
    padding: 30px;
    margin-left: 30px;
    

}

.subHeader {
    color: #fafafa;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: #fafafa;
}